#loginFormWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 92px 26px 49px;
    gap: 83px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.loginFormContentWrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  height: 100%;
  max-height: 251px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.inputFieldContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 45px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.failTextContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#failTextElement{
  display: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;

  color: #d02e2e;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

#loadText{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 21.29px 10px;
  gap: 10px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  /* text */

  font-weight: 700;
  font-size: 25.5436px;
  line-height: 38px;
  text-align: center;
  color: #818181;
}
