.dashboardWrapper {
    display: flex;
    align-self: stretch;
    height: 100vh;
    flex-grow: 1;

    background-color: #F2F2F2;
}

.dashboardContentContainer {
    padding: 18px;

    order: 2;
    flex-grow: 1;
}

.dashboardWrapper>.dashboardContentContainer {
    flex-basis: 80;
}