.dropDownWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    flex: none;
}

.dropdownList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 20px 0px 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.10);
    position: absolute;
    width: 100%;
    transform: translateY(40px);
    z-index: 1;

    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
    overflow: hidden;

    flex: none;
}

.dropdownListItem {
    padding: 5px 25px;
    cursor: pointer;

    align-self: stretch;
    text-align: center;
}

.dropdownListItem.selected {
    background-color: #b3b1eb5f;
    color: #2f2ccc;
}

.dropdownListItem:hover {
    background-color: #e6e6e65d;
}