.licenceDataTableWrapper {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    gap: 22px;
    width: 100%;
    min-height: 80%;
    height: auto;
    max-height: 91%;
    overflow: hidden;
}

.tableWrapper {
    height: 100%;
}

.tableContainer {
    height: 100%;
    transition: all 1s ease;
}

table {
    max-height: 80vh;
    margin-bottom: 90px;
    border-radius: 10px;
}