/*  top/regular */
.iconButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;

    gap: 10px;
    border-radius: 14px;

    transition: all .3s ease;
}

.iconButtonContainer.bottom {
    transition: all .5s ease;
}

.iconButtonContainer.dropdown {
    width: 180px;
    justify-content: space-between;
    padding: 10px 20px;
}

.iconButtonContainer:hover,
.iconButtonContainer.dropdown {
    background: #2826a111;
}

.iconButtonContainer.bottom:hover {
    background: #69689c11;
}

/* top icons svgs */
.iconButtonContainer>span,
.iconButtonContainer.dropdown>span,
.iconButtonContainer.bottom>span
 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
}


