/* styling a wrapper for the left panel */
#leftPanelWrapper {

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8vh 7vw 6vh;
    gap: 3vh;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

/* Styling the text in the top left corner of the page. */
#appNameText {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;

    color: #EEE3E2;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Styling the text in the left panel. */
#leftHeadingsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0;
    
    max-width: 560px;
    max-height: 242.4px;
     
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

#leftHeadingsContainer > h2 {
    color: #EEE3E2;
}

#leftHeadingsContainer > h3 {
    color: #B9B9B9;
}

/* Styling the bottom card image container. */
#bottomCardImg {

    height: 40vh;
    max-width: 570px;
    max-height: 356.25px;
    margin-top: 4vh;
    
    background: linear-gradient(180deg, #F2F2F2 25.52%, rgba(242, 242, 242, 0) 91.67%);
    border-radius: 15px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 1;
}
